#!/usr/bin/make -f

PREFIX = /usr

clean:
	make -s clean 2>/dev/null || true

build:
	make PREFIX=$(PREFIX)

install: build
	make install PREFIX=$(PREFIX) DESTDIR=$(CURDIR)/debian/orbit-status

binary-arch: install
	mkdir -p $(CURDIR)/debian/orbit-status/DEBIAN
	awk '/^Package:/ {p=1} p' debian/control > $(CURDIR)/debian/orbit-status/DEBIAN/control
	sed -n 's/.*(\(.*\)).*/\1/p' debian/changelog | head -1 | \
	    xargs -I{} echo "Version: {}" >> $(CURDIR)/debian/orbit-status/DEBIAN/control
	dpkg-deb --root-owner-group --build $(CURDIR)/debian/orbit-status $(CURDIR)/..

binary: binary-arch

.PHONY: clean build install binary-arch binary
